/* .collection-card{

    background:white;

    border-radius:28px;

    padding:28px;

    transition:.3s;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.collection-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.collection-image{

    width:220px;

    height:220px;

    border-radius:24px;

    overflow:hidden;

    margin:auto;
}

.collection-image img{

    width:100%;

    height:100%;

    object-fit:cover;
}

.collection-card h3{

    margin-top:25px;

    font-size:34px;

    color:#0259DD;
}

.collection-card p{

    margin:15px 0;

    color:#666;

    line-height:1.6;
}

.collection-card button{

    border:none;

    background:none;

    color:#0259DD;

    font-size:18px;

    font-weight:700;

    cursor:pointer;
} */
 .collection-card{

    background:white;

    border-radius:28px;

    padding:45px 20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

    cursor:pointer;
}

.collection-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 40px rgba(0,0,0,.12);
}

.collection-icon{

    font-size:64px;

    margin-bottom:20px;
}

.collection-card h3{

    font-size:32px;

    color:#18356B;

    margin-bottom:15px;
}

.collection-card span{

    color:#0259DD;

    font-weight:700;
}